$PRIMARY: #06038D;
$PRIMARY_ALT: #3434E0;
$PRIMARY_3: #0A008B;
$ACCENT: #C6007E;
$WHITE: #FFF;
$WHITE_ALT: #FFF2FA;
$GREY: #F2F2F2;
$GREY_ALT: #919191;
$DARK_GREY: #343434;
$LIGHT_GREY: #C1C1C1;
$G2: #E1E1E1;
$G3: #E5E5E5;
$BLACK: #000000;

$BOX_SHADOW: 6px 6px 15px rgba(0, 0, 0, 0.1);
$BORDER_RADIUS: 2px;